  .indexTypography {
    text-align: center;
    width: 100%;
  }

  .indexContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 0rem;
  }
  
  