  .slider {
    font-size: 1rem;
  }
  
  .weatherGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .weatherGraphContainer .weatherGraphLegendInstruction {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.35rem;
  }

  .weatherGraphTypography {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
  }
